In [1]:
%matplotlib widget
import pandas as pd

df = pd.read_csv('lake-conjola.csv', encoding='utf-8')
df

,DateTime,Estuary Name,SiteID,LoggerID,SampleDepth (m),Conductivity (uS/cm),Temp (C),DO (mg/L)
0,20/01/2020 12:30,Lake Conjola,CON1,CON1-Surface,0.5,35444.2,24.95,7.23
1,20/01/2020 12:45,Lake Conjola,CON1,CON1-Surface,0.5,34664.3,25.01,7.64
2,20/01/2020 13:00,Lake Conjola,CON1,CON1-Surface,0.5,34318.8,25.03,7.66
3,20/01/2020 13:15,Lake Conjola,CON1,CON1-Surface,0.5,34164.1,25.06,7.66
4,20/01/2020 13:30,Lake Conjola,CON1,CON1-Surface,0.5,34044.5,25.04,7.67
...,...,...,...,...,...,...,...,...
2682,17/02/2020 11:00,Lake Conjola,CON1,CON1-Surface,0.5,529.2,24.76,4.08
2683,17/02/2020 11:15,Lake Conjola,CON1,CON1-Surface,0.5,528.3,24.75,3.86
2684,17/02/2020 11:30,Lake Conjola,CON1,CON1-Surface,0.5,527.9,24.74,4.03
2685,17/02/2020 11:45,Lake Conjola,CON1,CON1-Surface,0.5,526.9,24.76,4.14
2686,17/02/2020 12:00,Lake Conjola,CON1,CON1-Surface,0.5,526.0,24.76,4.14

In [2]:
df.plot()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [3]:
df.plot(x="DateTime", y="DO (mg/L)")

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [4]:
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
X = df.iloc[:, 6].values.reshape(-1, 1)  # Temp
Y = df.iloc[:, 7].values.reshape(-1, 1)  # DO
linear_regressor = LinearRegression()  # create object for the class
linear_regressor.fit(X, Y)  # perform linear regression
Y_pred = linear_regressor.predict(X)  # make predictions
plt.scatter(X, Y)
plt.plot(X, Y_pred, color='red')
plt.show()

In [5]:
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=3).fit(df[['Temp (C)', 'DO (mg/L)']])
centroids = kmeans.cluster_centers_

plt.scatter(df['Temp (C)'], df['DO (mg/L)'], c= kmeans.labels_.astype(float), s=50, alpha=0.5)
plt.scatter(centroids[:, 0], centroids[:, 1], c='red', s=50)
plt.show()